*{
    /* padding :0; */
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

.navbar{
  color:white;
  height: 60px;
  background-image: linear-gradient(to right, rgb(10, 59, 10), rgb(14, 90, 14));
  display: flex;
  justify-content: space-evenly;
}