*{
    padding :0;
    margin: 0;
    color: white;
}

#navbar{
    height: 60px;
    background-color: #0f1111;

}

button{
   background-color: #f08804;
}

#logo {
    font-size:25px ;
    color:#f08804;
}

a{
    margin-right: 200px;;
    text-decoration: none;
}

footer{

    background-color:black;
}
#content{
    height: 900px;
    background-color: #7e7b76;
}

div{
    border: 2px solid black;
}