
body{
    text-align: center;
}

.box{
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 2px solid red;
}


#container{
    
    width: 800px;
    height: 200px;
    display: inline-block ; 
    border:2px solid red;
    /* display: flex; */
    /* flex-direction:co; */
    /* background-color: black; */
}

#box1{background-color: antiquewhite;}

#box2{background-color: aqua;}

#box3{background-color: blueviolet;}

#box4{background-color: blue;}

#box5{background-color: brown;} 

h1{
    width: 100px;
    color:black}