div{
    background-color: yellow;
    height: 300px;
    width: 300px;
animation-name: animaiton; /* The name of your @keyframes rule */
  animation-duration: 9s; /* How long the animation takes */
  animation-timing-function: ease-in-out; /* The speed curve of the animation */
  animation-delay: 0.01s; /* Delay before the animation starts */
  animation-iteration-count: infinite; /* How many times the animation repeats (e.g., 3, infinite) */
  animation-direction: alternate ; /* Whether the animation should play forwards, backwards, or alternate */
  animation-fill-mode: forwards; 
}


@keyframes animaiton {
    form {
        background-color: yellow;
    }
    to{
        background-color: brown;
    }
}